{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "endOfLine": "lf",

  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "consistent",

  "semi": true,
  "trailingComma": "none",
  "arrowParens": "always",

  "bracketSpacing": true,
  "bracketSameLine": false,

  "insertPragma": false,
  "requirePragma": false,

  "proseWrap": "preserve",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",

  "overrides": [
    {
      "files": ["*.html", "*.json", "*.yml", "*.yaml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.php"],
      "options": {
        "phpVersion": "8.2",
        "braceStyle": "per-cs"
      }
    }
  ]
}
