<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticProperties="false"
    bootstrap="vendor/autoload.php"
    cacheDirectory="tmp/"
    cacheResult="true"
    colors="true"
    columns="80"
    requireCoverageMetadata="true"
    processIsolation="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="false"
    stopOnRisky="false"
    stopOnDeprecation="false"
    stopOnNotice="false"
    stopOnSkipped="false"
    stopOnIncomplete="false"
    failOnEmptyTestSuite="true"
    failOnWarning="true"
    failOnRisky="false"
    failOnDeprecation="false"
    failOnNotice="false"
    failOnSkipped="false"
    failOnIncomplete="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutCoverageMetadata="true"
    enforceTimeLimit="false"
    defaultTimeLimit="1"
    timeoutForSmallTests="1"
    timeoutForMediumTests="10"
    timeoutForLargeTests="60"
    stderr="false"
    reverseDefectList="false"
    registerMockObjectsFromTestArgumentsRecursively="false"
    executionOrder="default"
    resolveDependencies="true"
    testdox="false"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <env name="XDEBUG_MODE" value="coverage" />
    </php>

    <source>
        <include>
            <directory suffix=".php">src/WebServices/</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/WebServices/*/Tests/</directory>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="WebServices Unit">
            <directory phpVersion="8.2.7" prefix="Test" suffix=".php">src/WebServices/*/Tests/</directory>
        </testsuite>

        <testsuite name="WebServices Integration">
        </testsuite>

        <testsuite name="WebServices Application">
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true" pathCoverage="true" disableCodeCoverageIgnore="true">
        <report>
            <html outputDirectory="tmp/html-coverage" lowUpperBound="50" highLowerBound="90" />
        </report>
    </coverage>

    <logging>
        <testdoxText outputFile="tmp/testdox.txt" />
    </logging>

</phpunit>